node_modules
.env
__pycache__
*.pyc
*.pyo
dist
*.db
*.log
tmp/
../../tmp/
.pytest_cache
.mypy_cache
*.tsbuildinfo
plan_managers.html
frontcrm/
.venv/
.sixth/
project_info__*.md
*.tsbuildinfo
backend/_tmp_*
backend/*.db
backend/app.log
debug_*.html
*.ico
*.png
*.jpg
*.jpeg
*.gif
*.svg
tz_performance.md
vite.config.d.ts
vite.config.js
package-lock.json
frontcrmcrmks*
