@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0B0D10;
  --fg: #f0ede8;
  --muted: #6b6b6b;
  --accent: #C8102E;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Jost', sans-serif;
  background: #fff;
  color: #0B0D10;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
